<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pdf Download</title>
    <style>
      *{
        /* border: 1px solid black; */
      }
        body {
            font-family: 'Times New Roman', Times, serif;
            font-style: normal;
        }
        h4{
            margin: 16px !important;
        }
        table td {
            text-align: center;
        }
        tr td,
        tr th{
            padding: 5px;
        }
        h2{
            text-align: center;
            margin-top: 30px;
        }
        .header {
            background-color: rgb(78, 47, 8);
            text-align: center;
            padding: 20px;
            color: white;
        }
        .allsales{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .alldata{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .quotation-add{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .main{
          padding: 0 100px;
        }
        .quotation-info{
            font-weight: lighter;
            margin-left: 20px;
        }
    </style>
  </head>
  <body>
    <div class="header">
        <header>
            <h1>TIMBERLAND</h1>
            <h4>HOME FOR VENEER</h4>
        </header>
    </div>
    <h2 style="text-align: center;">Quotation</h2>
<div class="main">
    <div class="alldata">
     <div class="quotation-add">
        <div class="">
            <h4>Token Number :-</h4>
            <h4>Date :-</h4>
        </div>
        <div class="quotation-name">
            <p><%= users.serialNumber %></p>
            <p><%= new Date(users.Date).toLocaleDateString('en-GB')  %></p>
        </div>
    </div>
    <div class="quotation-add">
        <div class="">
            <h4>Quotation name :-</h4>
            <h4>mobile No :-</h4>
        </div>
        <div class="quotation-name">
            <p><%= users.userName %></p>
            <p><%= users.mobileNo %></p>
        </div>
    </div>
    <div class="quotation-add">
        <div>
            <h4>Status :-</h4>
            <h4>address :-</h4>
        </div>
        <div class="quotation-name">
            <p><%= (status.Approve) ? 'Approve' : (status.Reject ? 'Reject' : 'Followup') %></p>
            <p><%= users.address %></p>
        </div>
    </div>
</div>
<div class="allsales">
  <div>
          <%if(users.architec.length){%>
            <h2>ARCHITEC </h2>
            <table cell>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.architec.forEach(function(item){ %>
                      <tr>
                        <td><%= item.architecsName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                      </tr>
                    <% }) %>
                </tbody>
            </table>
          <% } %>
        </div>
        <div>
          <%if(users.carpenter.length){%>
            <h2>CARPENTER </h2>
            <table>
               <% users.carpenter.forEach(function(item){ %>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= item.carpentersName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                    </tr>
                </tbody>
                 <% }) %>
            </table>
             <% } %>
        </div>
        <div>
          <%if(users.shop.length){%>
            <h2>SHOP</h2>
            <table>
              <% users.shop.forEach(function(item){ %>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= item.shopName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
          <% } %>
        </div>
    </div>
      <div>
        <%if(users.sales){%>
        <h2>SALES PERSON</h2>
        <div class="quotation-add">
            <div class="">
              <h4>Name :-</h4>
                <h4>Mobile No :-</h4>
            </div>
              <div class="quotation-name">
                <p><%= users.sales.Name %></p>
                <p><%= users.sales.mobileNo %></p>
              </div>
        </div>
        <%}%>
    </div>
<div class="tab">
  <%if(Totalwithuser.length){%>
        <h2 style="text-align: center;">TOTAL</h2>
        <table border="1" align="center" style="width: 100% ;">
          <th>Description</th>
          <th>Area</th>
          <th>Size</th>
          <th>Rate</th>
          <th>Quantity</th>
          <th>Total</th>
          <% Totalwithuser.forEach(function(item){ %>
          <tr>
            <td><%= item.description %></td>
            <td><%= item.area %></td>
            <td><%= item.size %></td>
            <td><%= item.rate %></td>
            <td><%= item.quantity %></td>
            <td><%= item.total %></td>
          </tr>
          <% }) %>
        </table>
  <%}%>
</div>
  </body>
</html>