<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Download</title>
    <style>
        .header {
            background-color: rgb(78, 47, 8);
            color: white;
        }

        header {
            padding: 20px;
            text-align: center;
        }

        h4 {
            margin: 10px;
        }

        p {
            margin: 10px;
        }

        .user-info {
            display: flex;
            margin: 10px 0;
        }

        .main-div {
            display: flex;
            justify-content: space-around;
        }

        .footer {
            background-color: rgb(78, 47, 8);
            color: white;
            padding: 5px 0;
            text-align: center;
        }

        table {
            border: 1px solid black;
            border-collapse: collapse !important;
            margin-bottom: 20px;
        }

        table th {
            border: 1px solid black;
        }

        .total-info {
            border-right: 1px solid black !important;
        }

        .main-total {
            border-top: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="header">
        <header>
            <h1>TIMBERLAND</h1>
            <h4>HOME FOR VENEER</h4>
            <div>
                <p style="text-align: right;">Date :- <%= new Date(users.Date).toLocaleDateString('en-GB') %>
                </p>
            </div>
        </header>
    </div>
    <div class="main">
        <div class="main-div">
            <div>
                <div class="user-info">
                    <div>
                        <h4>Token No :-</h4>
                        <h4>Name :-</h4>
                        <h4>Address :-</h4>
                        <h4>Mobile No. :-</h4>
                    </div>
                    <div>
                        <p>
                            <%= users.serialNumber %>
                        </p>
                        <p>
                            <%= users.userName %>
                        </p>
                        <p>
                            <%= users.address %>
                        </p>
                        <p>
                            <%= users.mobileNo %>
                        </p>
                    </div>
                </div>
                <div class="user-info" style="margin: 80px 0;">
                    <%if(users.sales){%>
                        <div>
                            <h4>SALES PERSON :-</h4>
                            <h4>Mobile No. :-</h4>
                        </div>
                        <div>
                            <p>
                                <%= users.sales.Name %>
                            </p>
                            <p>
                                <%= users.sales.mobileNo %>
                            </p>
                        </div>
                        <%}%>
                </div>
            </div>
            <div>
                <h2>Reference</h2>
                <div class="user-info">
                    <%if(users.architec.length){%>
                        <div>
                            <h4>ARCHITEC :-</h4>
                            <h4>Mobile No :-</h4>
                        </div>
                        <% users.architec.forEach(function(item){ %>
                            <div class="user-details">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.architecsName %>
                                </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= item.mobileNo %>
                                </p>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
                <div class="user-info">
                    <%if(users.carpenter.length){%>
                        <div>
                            <h4>CARPENTER :-</h4>
                            <h4>Mobile No :-</h4>
                        </div>
                        <% users.carpenter.forEach(function(item){ %>
                            <div class="user-details">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= item.carpentersName %>
                                </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;<%= item.mobileNo %>
                                </p>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
                <div class="user-info">
                    <%if(users.shop.length){%>
                        <div class="user-details">
                            <h4>Shop :-</h4>
                            <h4>Mobile No :-</h4>
                        </div>
                        <% users.shop.forEach(function(item){ %>
                            <div>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=
                                        item.shopName %>
                                </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=
                                        item.mobileNo %>
                                </p>
                            </div>
                            <% }) %>
                                <% } %>
                </div>
            </div>
        </div>
        <table style="width: 100%;" cellpadding="10px">
            <%if(Totalwithuser.length){%>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Area</th>
                        <th>Size</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody align="center">
                    <% Totalwithuser.forEach(function(item){ %>
                        <tr>
                            <td>
                                <%= item.description %>
                            </td>
                            <td>
                                <%= item.area %>
                            </td>
                            <td>
                                <%= item.size %>
                            </td>
                            <td>
                                <%= item.rate %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>
                            <td>
                                <%= item.total %>
                            </td>
                        </tr>
                        <% }) %>
                            <tr>
                                <th colspan="5" align="right">Main Total:</th>
                                <td class="main-total">2000</td>
                            </tr>
                </tbody>
                <%}%>
        </table>
        <div></div>
    </div>
    <div class="footer">&copy;Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, totam.</div>
</body>

</html>