<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pdf Download</title>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
            font-style: normal;
            padding: 0 100px;
        }
        .header {
            background-color: rgb(78, 47, 8);
            text-align: center;
            padding: 20px;
            color: white;
        }
        h2{
            /* text-align: center; */
        }
        table th{
            text-align: justify;
        } 
        .allsales{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .allsales tr td,
        .allsales tr th{
            padding: 5px;
        }
        .tab th{
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="header">
        <header>
            <h1>TIMBERLAND</h1>
            <h4>HOME FOR VENEER</h4>
        </header>
    </div>
    <h2 style="text-align: center;">Quotation</h2>
    <!-- <div> -->
        <table align="center" >
            <tr>
                <th>Token No :-</th>
                <td><%= users.serialNumber %></td>
                <th>Status :-</th>
                <td><%= (status.Approve) ? 'Approve' : (status.Reject ? 'Reject' : 'Followup') %></td>
            </tr>
            <tr>
                <th>Date :-</th>
                <td><%= new Date(users.Date).toLocaleDateString('en-GB')  %></td>
                <th>Mobile No :-</th>
                <td><%= users.mobileNo %></td>
            </tr>
            <tr>
                <th>Quotation name :-</th>
                <td><%= users.userName %></td>
                <th>Address :-</th>
                <td><%= users.address %></td>
            </tr>
        </table>
    <!-- </div> -->
    <div class="allsales">
        <div>
          <%if(users.architec.length){%>
            <h2>ARCHITEC </h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                  <% users.architec.forEach(function(item){ %>
                    <tr>
                        <td><%= item.architecsName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                    </tr>
                  <% }) %>
                </tbody>
            </table>
          <% } %>
        </div>
        <div>
           <%if(users.carpenter.length){%>
            <h2>CARPENTER </h2>
            <table>
              <% users.carpenter.forEach(function(item){ %>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= item.carpentersName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                    </tr>
                </tbody>
                 <% }) %>
            </table>
             <% } %>
        </div>
        <div>
           <%if(users.shop.length){%>
            <h2>SHOP</h2>
            <table>
              <% users.shop.forEach(function(item){ %>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= item.shopName %></td>
                        <td><%= item.mobileNo %></td>
                        <td><%= item.address %></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
            <% } %>
        </div>
    </div>
    <div>
      <%if(users.sales){%>
        <h2>SALES PERSON</h2>
        <table align="center">
            <tr>
              <th>Name</th>
              <td><%= users.sales.Name %></td>
            </tr>
            <tr>
              <th>Mobile No</th>
              <td><%= users.sales.mobileNo %></td>
            </tr>
        </table>
      <%}%>
    </div>
<div class="tab">
    <%if(Totalwithuser.length){%>
        <h2 style="text-align: center;">TOTAL</h2>
        <table border="1" align="center" style="width: 100% ;">
          <th>Description</th>
          <th>Area</th>
          <th>Size</th>
          <th>Rate</th>
          <th>Quantity</th>
          <th>Total</th>
          <% Totalwithuser.forEach(function(item){ %>
          <tr>
            <td><%= item.description %></td>
            <td><%= item.area %></td>
            <td><%= item.size %></td>
            <td><%= item.rate %></td>
            <td><%= item.quantity %></td>
            <td><%= item.total %></td>
          </tr>
           <% }) %>
        </table>
    <%}%>
</div>
  </body>
</html>